<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cultivo</title>
    <link rel="icon" href="https://cdn.shopify.com/s/files/1/0244/8552/7633/files/bazaart1-9.png?height=628&pad_color=000000&v=1569812204&width=1200" />
    <style>
       body{
           background-size: cover;
           background-image: url(https://www.goodcore.co.uk/blog/wp-content/uploads/2019/08/coding-vs-programming-2.jpg);
       }
       a
       {
           text-decoration: none;
            color: lightblue;
            text-align: right;
       }
    </style>
</head>
<body>
    {{>navbar}}
</body>
</html>